/*
* style
*/
.card {
  border: none;
  border-radius: 50%;
}
#owner {
    margin-left: 25%;
    margin-right: 25%;
}
#restaurant {
    margin-left: 20%;
    margin-right: 20%;
}
#acesso {
    margin-left: 25%;
    margin-right: 25%;
}
.btn-danger {
    background-color: #d20911;
}
.container-fluid {
    height: 70vh;
}
#container {
    position: absolute;
    top: 450px;
}
/*
* writer
*/
#writer::after {
  content: '|';
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  animation: blink .7s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}